* text=auto
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.service text eol=lf
*.rules text eol=lf
Makefile text eol=lf
image/config text eol=lf
image/stage-wattkeeper/00-packages/00-packages text eol=lf