[Unit]
Description=Strom node agent
After=network.target nut-server.service strom-firstboot.service
RequiresMountsFor=/var/lib/strom

[Service]
Type=simple
ExecStart=/usr/local/bin/strom-agent --config-dir /etc/nut --listen :80
Restart=always
RestartSec=5s
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
